p {
    margin: 0px;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
}

html, body {
    width: 1920px;
    height: 1080px;
    margin: 0px;
}

body {
    background-color: transparent;
    transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-style: preserve-3d;
}

.gwd-img-1l42 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    opacity: 0;
    left: 0px;
    top: 0px;
}

.gwd-div-1wmo {
    position: absolute;
    width: 158.976px;
    height: 236.736px;
    top: 745.496px;
    left: 76.673px;
}

.gwd-div-fup9 {
    top: 746px;
    left: 239px;
}

.gwd-div-18zf {
    top: 746px;
    left: 399px;
}

.gwd-div-1apg {
    top: 746px;
    left: 559px;
}

.gwd-div-m24z {
    width: 158.976px;
    top: 746px;
    left: 79.673px;
}

.gwd-div-1vdb {
    top: 746px;
    left: 720px;
}

.gwd-div-1y4b {
    left: 1038px;
}

.gwd-div-ozzo {
    top: 747px;
    height: 187px;
    left: 1680px;
}

.gwd-div-1pvn {
    top: 747px;
    height: 187px;
    left: 1520px;
}

.gwd-div-jl62 {
    top: 747px;
    height: 187px;
    left: 1360px;
}

.gwd-div-1evq {
    top: 747px;
    height: 187px;
    left: 1200px;
}

.gwd-div-1nyj {
    top: 747px;
    height: 187px;
    left: 880px;
}

.gwd-div-1pyo {
    position: absolute;
    width: 159.167px;
    height: 49.0048px;
    left: 79.8333px;
    top: 933.722px;
}

.gwd-div-13yc {
    left: 239px;
    top: 934px;
}

.gwd-div-1lfh {
    height: 49.0029px;
    width: 159.162px;
    top: 935px;
    left: 400px;
}

.gwd-div-17vw {
    height: 49.0029px;
    width: 159.162px;
    top: 935px;
    left: 560px;
}

.gwd-div-1873 {
    height: 49.0029px;
    width: 159.162px;
    left: 721px;
    top: 934px;
}

.gwd-div-1c8m {
    height: 49.0029px;
    width: 159.162px;
    left: 880px;
}

.gwd-div-1hy3 {
    top: 935px;
    left: 1039px;
}

.gwd-div-s0x0 {
    top: 935px;
    left: 1198px;
}

.gwd-div-qnqp {
    top: 935px;
    left: 1360px;
}

.gwd-div-1xgn {
    top: 935px;
    left: 1520px;
}

.gwd-div-10jq {
    top: 935px;
    left: 1680px;
}

.gwd-div-1tk9 {
    top: 935px;
    left: 80px;
}

.gwd-div-6ge1 {
    top: 935px;
    left: 240px;
}

.gwd-div-eu6w {
    top: 935px;
    left: 720px;
}

.gwd-div-1r00 {
    top: 935px;
}

.gwd-div-vgyt {
    height: 187px;
    top: 747px;
    left: 1040px;
}

.gwd-div-flhv {
    height: 187px;
    top: 747px;
    left: 80px;
}

.gwd-div-eqyj {
    top: 747px;
    height: 187px;
}

.gwd-div-1w65 {
    top: 747px;
    height: 187px;
    left: 560px;
}

.gwd-div-1cc8 {
    top: 747px;
    height: 187px;
    left: 400px;
}

.gwd-div-68d5 {
    top: 747px;
    height: 187px;
    left: 240px;
}

.gwd-div-6lc8 {
    position: absolute;
    width: 79.1667px;
    height: 79.1667px;
    left: 438.359px;
    top: 985.81px;
}

.gwd-div-4j78 {
    top: 985px;
    left: 521px;
}

.gwd-div-1sx5 {
    top: 985px;
    left: 604px;
}

.gwd-div-uuhx {
    top: 985px;
    left: 438.359px;
}

.gwd-div-1laf {
    top: 985px;
    left: 803px;
}

.gwd-div-14ch {
    top: 985px;
    left: 720px;
}

.gwd-div-jrcj {
    top: 985px;
    left: 604px;
}

.gwd-div-1nzy {
    top: 985px;
    left: 521px;
}

.gwd-div-kj9s {
    top: 987px;
    left: 1043px;
}

.gwd-div-rsvl {
    top: 987px;
    left: 1126px;
}

.gwd-div-pxrr {
    top: 987px;
    left: 1209px;
}

.gwd-div-fnem {
    left: 1321px;
    top: 987px;
}

.gwd-div-m0cr {
    left: 1404px;
    top: 987px;
}

.gwd-div-1gew {
    top: 987px;
    left: 714px;
}

.gwd-div-i66x {
    top: 987px;
    left: 797px;
}

.gwd-div-ktib {
    top: 987px;
}

.gwd-div-1enl {
    top: 987px;
}

.gwd-div-1k3h {
    top: 987px;
}

.gwd-div-13fd {
    height: 79px;
    top: 987px;
}

.gwd-div-1o08 {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 165px;
    top: 858.333px;
}

.gwd-div-dkry {
    top: 898px;
    left: 163px;
}

.gwd-div-va2c {
    top: 898px;
    left: 201px;
}

.gwd-div-5vcd {
    top: 898px;
    left: 362px;
}

.gwd-div-polw {
    top: 898px;
    left: 324px;
}

.gwd-div-4os7 {
    top: 898px;
    left: 522px;
}

.gwd-div-16jl {
    top: 898px;
    left: 484px;
}

.gwd-div-1j5j {
    top: 898px;
    left: 682px;
}

.gwd-div-k55y {
    top: 898px;
    left: 644px;
}

.gwd-div-1lrx {
    top: 898px;
    left: 842px;
}

.gwd-div-1wpq {
    top: 898px;
    left: 804px;
}

.gwd-div-1flp {
    top: 898px;
    left: 1162px;
}

.gwd-div-113v {
    top: 898px;
    left: 1124px;
}

.gwd-div-13o5 {
    top: 898px;
    left: 1322px;
}

.gwd-div-bg66 {
    top: 898px;
    left: 1284px;
}

.gwd-div-1aoq {
    top: 898px;
    left: 1482px;
}

.gwd-div-1a81 {
    top: 898px;
    left: 1444px;
}

.gwd-div-pntj {
    top: 898px;
    left: 1802px;
}

.gwd-div-1oas {
    top: 898px;
    left: 1764px;
}

.gwd-div-saax {
    top: 898px;
    left: 1642px;
}

.gwd-div-5lvn {
    top: 898px;
    left: 1604px;
}

.gwd-div-gmgt {
    left: 644px;
}

.gwd-div-zizj {
    left: 682px;
}

.gwd-div-16p1 {
    left: 484px;
}

.gwd-div-1u36 {
    left: 522px;
}

.gwd-div-lpt4 {
    left: 324px;
}

.gwd-div-1hd4 {
    left: 362px;
}

.gwd-div-gm7x {
    left: 163px;
}

.gwd-div-3ayl {
    left: 201px;
}

.gwd-div-1jzs {
    left: 1200px;
}

.gwd-div-1qpg {
    left: 880px;
}

.gwd-div-17xq {
    left: 1040px;
}

.gwd-div-1iod {
    left: 804px;
}

.gwd-div-wa67 {
    left: 842px;
}